<template>
  <div class="block">
    <div class="block-title" v-if="title">{{ title }}</div>
    <table class="block-table">
      <tr :key="`${item.key}:${index}`" v-for="(item, index) in items" v-bind="{[`data-${kebabCase(item.key)}`]: item.rawValue}">
        <td class="block-key">
          <span class="simptip-position-top" :data-tooltip="item.tooltip">{{
            item.key
          }}</span><small class="h6" style="font-weight: normal;" v-if="item.description"> - <span v-html="item.description"></span></small>
        </td>
        <td class="block-value">
          <span class="simptip-position-top" :data-tooltip="item.tooltip">
            {{ item.value }}
          </span>
          <!-- <span v-if="isString(item.value)" class="simptip-position-top" :data-tooltip="item.tooltip">
            {{ item.value }}
          </span>
          <div v-else>
            <span class="simptip-position-bottom simptip-multiline" :data-tooltip="prop.description" v-for="(prop, index) in item.value" :key="prop+index">
              <a target="_blank" v-if="prop.link" :href="prop.link" >{{prop.label}}</a>
              <span v-else :key="prop+index">{{prop.label}}</span>{{ index !== item.value.length - 1 ? ", " : ""}}
            </span>
          </div> -->

        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import { defineComponent } from "@vue/composition-api";
import { kebabCase } from "lodash";

export default defineComponent({
  props: {
    title: {
      type: String,
      required: false,
    },
    items: {
      type: Array,
      required: true,
    },
  },
  setup() {

    function isString(x) {
    return Object.prototype.toString.call(x) === "[object String]"
    }

    return {
      kebabCase,
      isString
    };
  },
});
</script>

<style lang="scss">
@import "../scss/block";
</style>
