<template>
  <div class="blocks-container" v-if="hasUserParcels">
    <h1 class="blocks-title mb-3">
      Informations générales
      <button
        @click="showLexicon()"
        class="btn btn--transparent btn--icon blocks-info"
      >
        <Icon class="ml-1" :name="'infobulle'" />
      </button>
    </h1>

    <!-- <div v-for="(parcel, index) in getUserParcels" :key="`parcel-${index}`">
      <SvgParcel :parcel="parcel"></SvgParcel>
    </div> -->

    <div class="blocks">
      <Block :title="'Caractéristiques'" :items="getCharacteristicsBlock" />

      <Block :title="'Localisation'" :items="getLocalisationBlock" />

      <Block :title="'Risques'" :items="getRisksBlock" />
    </div>
  </div>
</template>

<script>
import { defineComponent, onMounted } from "@vue/composition-api";
import Block from "./Block.vue";
import Icon from "./Icon.vue";
import SvgParcel from "./SvgParcel.vue";

import { useGlobal } from "@front/store";
import { useUser } from "@front/store/user";

export default defineComponent({
  components: {
    Block,
    Icon,
    SvgParcel
  },
  setup() {
    const {
      getCharacteristicsBlock,
      getLocalisationBlock,
      getRisksBlock,
      hasUserParcels,
      getRouteStep,
      getUserParcels
    } = useUser();

    const { showLexicon } = useGlobal();

    onMounted(() => {
      // if (getRouteStep.value === ScrollIds.INFORMATIONS) {
      //   scrollToElement(`#${ScrollIds.INFORMATIONS}`, {
      //     block: "start",
      //   });
      // }
    });

    return {
      showLexicon,
      getCharacteristicsBlock,
      getLocalisationBlock,
      getRisksBlock,
      hasUserParcels,
      getUserParcels
    };
  },
});
</script>

<style lang="scss">
@import "../scss/block";
</style>
