<template>
  <button
    v-on="$listeners"
    :class="{
      btn: true,
      'btn--primary': primary,
      'btn--secondary': secondary,
      'btn--outlined': outlined,
      'btn--rounded': rounded,
      'btn--circle': circle,
      'btn--icon': icon,
    }"
  >
    <slot></slot>
  </button>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  props: {
    primary: {
      type: Boolean,
    },
    secondary: {
      type: Boolean,
    },
    outlined: {
      type: Boolean,
    },
    rounded: {
      type: Boolean,
    },
    circle: {
      type: Boolean,
    },
    icon: {
      type: Boolean,
    },
  },
  // setup(props, { attrs }) {
  //   return {};
  // },
});
</script>

<style lang="scss">
@import "../scss/variables";
@import "../scss/buttons";
</style>
