<template>
  <div class="checkout">
    <!-- <label for="card-element">
      Credit or debit card
    </label>-->
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div
      class="mt-2 text-error"
      v-if="getCardErrorMessage"
      id="card-errors"
      role="alert"
    >{{ getCardErrorMessage }}</div>
  </div>
</template>

<script>
import { defineComponent, onMounted } from "@vue/composition-api";
import { useCheckout } from "@front/store";

export default defineComponent({
  setup() {
    const { initCheckout, getCardErrorMessage } = useCheckout();

    onMounted(() => {
      initCheckout();
    });

    return { getCardErrorMessage };
  },
});
</script>

<style lang="scss">
@import "../scss/checkout";
</style>
