<template>
  <form id="form" v-if="hasUserParcels"  @submit.prevent="onFormSubmit">

    <p v-if="getFormErrors.length">
      <b>Veuillez corriger les erreurs suivantes :</b>
      <ul>
        <li :key="error" v-for="error in getFormErrors">{{ error }}</li>
      </ul>
    </p>



    <p>
      <!-- <label for="name">Name</label> -->
      <input class="form-input" placeholder="Votre prénom et nom*" id="name" v-model="formNameModel" type="text" name="name" required />
    </p>

    <p>
      <!-- <label for="email">Email</label> -->
      <input class="form-input" placeholder="Votre mail*" id="email" v-model="formEmailModel" type="email" name="email" required />
    </p>

    <p v-if="isFreeProduct === true">
      <input class="form-input" v-model="formPhoneModel" placeholder="Votre téléphone*" id="phone" name="phone" required type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$">
    </p>

    <p v-if="isFreeProduct === false">
      <Checkout class="form-input" />
      </p>

      <p>
      <textarea class="form-input" placeholder="Une précision..." v-model="formMessageModel" />
        </p>

        <div class="mt-1 mb-1 ta-left">
          <small class="primry-50">
          <label for="cgu" style="display: flex; align-items:center;">
            <input style="flex-shrink: 0; margin-right: .5em;" type="checkbox" id="cgu" v-model="formCguModel" required>
            <div>
Je certifie avoir pris connaissance des <b><a :href="getLinks.cgu_cgv" target="_blank">conditions générales de vente</a></b> et en accepte les termes
            </div>
            </label>
          </small>
          </div>


    <p>
      <button  class="btn btn--primary btn--outlined btn--rounded mx-auto mt-2 btn--shadow" type="submit" :disabled="isFormLoading"><span v-show="!isFormLoading">Recevoir mon étude</span><span class="loader" v-show="isFormLoading"></span></button>
    </p>


  </form>
</template>

<script>
import { defineComponent, onMounted } from "@vue/composition-api";
import { useForm, useCheckout, useGlobal } from "@front/store";
import { useUser } from "@front/store/user";
import Checkout from "../components/Checkout.vue"
import Product from "../components/Product.vue"
import { scrollToElement } from "@iudo/shared/utils";
import { ScrollIds } from "@front/router/routes";


export default defineComponent({
  components: {
    Checkout,
    Product
  },
  setup() {

    onMounted(() => {
      // if (getRouteStep.value === ScrollIds.FORM) {
        scrollToElement(`#${ScrollIds.FORM}`, {
          block: "start"
        });
      // }
    })


    return {
      ...useUser(),
      ...useCheckout(),
      ...useForm(),
      ...useGlobal()
    };
  },
});
</script>

<style lang="scss">
@import "../scss/form";
</style>
