<template>


    <transition v-if="isFormVisible" name="modal">
          <div class="modal-mask">
            <div class="modal-wrapper">
              <div class="modal-container" v-click-outside="() => {hideForm(); resetStep()}">

                <h2 class="mr-3">Recevoir mon étude de potentiel</h2>
                <button @click="() => {hideForm(); resetStep()}" class="modal-close btn btn--icon">
                  <Icon name="close" />
                </button>

<div class="product-frame mb-2">
                  <Product  /></div>

    <div class="mb-2">
      <b class="fz-small">Comment ça marche ?</b>
      <p class="fz-small mt-1">
      1 - Sélectionnez votre ou vos parcelle(s) et commandez votre étude en remplissant le formulaire<br>
      2 - Un conseiller iudo vous appelle pour mieux connaître votre besoin<br>
      3 - Recevez votre étude par mail sous 2 jours ouvrés
      </p>
      <div class="mt-1 mb-3">
        <a target="_blank" :href="getLinks.potential_example" class="download-link"><small>Télécharger un exemple -></small></a>
        </div>
      </div>

            <Form class="ta-center"  />

        </div>
      </div></div
  ></transition>
</template>

<script lang="ts">
import Form from "../components/Form.vue";
import Icon from "../components/Icon.vue";
import Product from "../components/Product.vue";
import { defineComponent } from "@vue/composition-api";

import { useCheckout, useForm, useGlobal } from "@front/store";
import { useUser } from "@front/store/user";
import { updateRouteLocation } from "@front/router";
import { ScrollIds } from "@front/router/routes";

export default defineComponent({
  components: {
      Form,
      Icon,
      Product
  },
  setup() {
    return {
      ScrollIds,
      updateRouteLocation,
      ...useGlobal(),
      ...useUser(),
      ...useForm(),
      ...useCheckout(),
    };
  },
})
</script>
