<template>

    <div class="x-wrapper x-wrapper--responsive">
        <div class="form-container p-2">
          <button
            class="btn btn--link fw-bold"
            @click="
              getRouteStep === ScrollIds.FORM
                ? goToStep(ScrollIds.POTENTIAL)
                : goToStep(ScrollIds.FORM)
            "
          >
            Recevoir mon étude
          </button>
          <br />
          <Icon
            @click="
              getRouteStep === ScrollIds.FORM
                ? goToStep(ScrollIds.POTENTIAL)
                : goToStep(ScrollIds.FORM)
            "
            :class="{ 'rotate-180': getRouteStep !== ScrollIds.FORM }"
            name="arrow"
          />

            <div v-if="getRouteStep === ScrollIds.FORM" class="main-form">

                <div class="mb-2">
                  <span class="input-like">
                      <span class="input-like__left">
                  <b>Étude de potentiel</b>
                  <a target="_blank" :href="getLinks.potential_example" class="download-link"><small>Télécharger un exemple -></small></a>
                      </span>
                      <span class="input-like__right">
                        <Product />
                      </span>
                  </span>
                </div>

          <Form  />
          </div>
        </div>
      </div>

</template>

<script lang="ts">
import Form from "../components/Form.vue";
import Icon from "../components/Icon.vue";
import Product from "../components/Product.vue";
import { defineComponent, computed } from "@vue/composition-api";

import { useCheckout, useForm, useGlobal } from "@front/store";
import { useUser } from "@front/store/user";
import { updateRouteLocation } from "@front/router";
import { ScrollIds } from "@front/router/routes";

export default defineComponent({
  components: {
      Form,
      Icon,
      Product
  },
  setup() {
    return {
      ScrollIds,
      updateRouteLocation,
      ...useGlobal(),
      ...useUser(),
      ...useForm(),
      ...useCheckout(),
    };
  },
})
</script>
