<template>
<div v-on="$listeners" :class="className">
  <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <!-- <title v-if="title">{{ title }}</title> -->
    <use :xlink:href="`#${name}`" xmlns:xlink="http://www.w3.org/1999/xlink" />
    <defs style="display: none;">
      <g :id="name" >
        <path
          v-if="'zoom' === name"
          d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z"
          fill="currentColor"
        />
        <path
          v-if="'dezoom' === name"
          d="M19 13H5V11H19V13Z"
          fill="currentColor"
        />
        <path
          v-if="'next' === name"
          d="M5.25 2.86563L18.2117 13.5L5.25 24.1344L5.25 2.86563Z"
          stroke="currentColor"
          fill="none"
        />

        <path
          v-if="'arrow' === name"
          d="M21.18 15.4099L12 6.24991L2.82 15.4099L2.46532e-07 12.5899L12 0.589911L24 12.5899L21.18 15.4099Z"
          fill="currentColor"
        />
        <rect
          v-if="'parcel' === name"
          x="15.5259"
          y="1.20711"
          width="12.75"
          height="20.25"
          transform="scale(0.97) rotate(45 15.5259 1.20711)"
          fill="none"
          stroke="currentColor"
        />
        <g v-if="'infobulle' === name">
          <circle cx="12" cy="12" r="11.5" fill="white" stroke="currentColor" />
          <path
            d="M10.9773 14.7273H12.3409V14.6591C12.3636 13.25 12.7273 12.6364 13.7273 12.0114C14.7273 11.4034 15.3182 10.5284 15.3182 9.27273C15.3182 7.5 14.0227 6.20455 12.0227 6.20455C10.1818 6.20455 8.72159 7.34091 8.63636 9.27273H10.0682C10.1534 7.93182 11.0909 7.38636 12.0227 7.38636C13.0909 7.38636 13.9545 8.09091 13.9545 9.20455C13.9545 10.108 13.4375 10.7557 12.7727 11.1591C11.6591 11.8352 10.9943 12.4943 10.9773 14.6591V14.7273ZM11.7045 18.0909C12.267 18.0909 12.7273 17.6307 12.7273 17.0682C12.7273 16.5057 12.267 16.0455 11.7045 16.0455C11.142 16.0455 10.6818 16.5057 10.6818 17.0682C10.6818 17.6307 11.142 18.0909 11.7045 18.0909Z"
            fill="currentColor"
          />
        </g>
        <g v-if="'close' === name">
          <circle cx="12" cy="12" r="11.5" fill="white" stroke="currentColor" />
          <path
            d="M17.8332 7.34167L16.6582 6.16667L11.9998 10.825L7.3415 6.16667L6.1665 7.34167L10.8248 12L6.1665 16.6583L7.3415 17.8333L11.9998 13.175L16.6582 17.8333L17.8332 16.6583L13.1748 12L17.8332 7.34167Z"
            fill="currentColor"
          />
        </g>
      </g>
    </defs>
  </svg>
  </div>
</template>

<script>
import { defineComponent, computed } from "@vue/composition-api";

export default defineComponent({
  props: {
    name: {
      type: String,
      required: true,
    },
    small: {
      required: false
    }
    // title: {
    //   type: String,
    //   default: null,
    // },
  },
  setup(props) {
    const name = "svg-icon--" + props.name
    const isSmall = props.small ? "svg-icon--small" : ""
    const className = computed(() => `svg-icon ${name} ${isSmall}`);

    return {
      className,
    };
  },
});
</script>

<style lang="scss">
@import "../scss/icons";
</style>
