<template>
  <div class="help">
    <h1>Lexique</h1>

    <p>
      <b>Zone PLU :</b> zone du plan local d’urbanisme dans laquelle est située
      la parcelle.
    </p>

    <p>
      <b>Station de transport :</b> la présence d’une station de Transport en
      Commun en Site Propre (TSCP) à moins de 500 m permet dans certains PLU un
      allègement des obligations en matière de stationnement.
    </p>

    <p>
      <b>Monument historique :</b> la présence d’un monument historique à moins
      de 500 m peut induire des obligations supplémentaires en cas de travaux.
    </p>

    <p>
      <b>Inondations :</b> l’adresse est située dans une commune sujette aux
      risques d’inondation.
    </p>

    <p>
      <b>Cavités souterraines :</b> présence proche de carrières ou
      d’excavations en sous-sols pouvant nécessiter des fondations spéciales en
      cas de travaux.
    </p>

    <br /><br />
    <p>
      <a
        href="https://airtable.com/shrKadyU396nfwS6k"
        style="text-decoration: underline;"
        target="_blank"
        ><b>Signaler un bug -></b></a
      >
    </p>
  </div>
</template>

<script>
import { defineComponent } from "@vue/composition-api";

import { useUtils } from "@front/store";
import { useUser } from "@front/store/user";

export default defineComponent({
  setup() {
    return {
      ...useUser(),
      ...useUtils(),
    };
  },
});
</script>

<style lang="scss">
@import "../scss/lexicon";
</style>
