<template>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 84 84"
    xmlns="http://www.w3.org/2000/svg"
  >
    <!-- <title v-if="title">{{ title }}</title> -->
    <use :xlink:href="`#logo`" xmlns:xlink="http://www.w3.org/1999/xlink" />
    <defs style="display: none;">
      <g id="logo" width="100%" height="100%">
        <path
          d="M60.8049 9.66C64.6604 16.3373 64.6604 24.5634 60.8049 31.2375C68.5159 31.2375 75.6395 35.3489 79.4949 42.0295C75.6395 48.7069 68.5159 52.8216 60.8049 52.8216C64.6604 59.4956 64.6604 67.725 60.8049 74.4023C53.094 74.4023 45.9704 70.2877 42.1149 63.6103C38.2595 70.2877 31.1359 74.4023 23.4249 74.4023C19.5695 67.725 19.5695 59.4956 23.4249 52.8216C15.714 52.8216 8.59041 48.7069 4.73494 42.0295C8.59041 35.3522 15.714 31.2375 23.4249 31.2375C19.5695 24.5634 19.5695 16.3341 23.4249 9.66C31.1359 9.66 38.2595 13.7714 42.1149 20.452C45.9704 13.7714 53.094 9.66 60.8049 9.66ZM62.6556 6.45422H60.8049C53.5895 6.45422 46.7743 9.63047 42.1149 14.9658C37.4589 9.63047 30.6437 6.45422 23.4249 6.45422H21.5743L20.649 8.05547C17.0396 14.3063 16.3801 21.7941 18.6737 28.4944C11.724 29.8594 5.56838 34.1742 1.959 40.425L1.03369 42.0263L1.959 43.6275C5.56838 49.8783 11.724 54.1931 18.6737 55.5581C16.3801 62.2584 17.0396 69.7463 20.649 76.0003L21.5743 77.6048H23.4249C30.6404 77.6048 37.4556 74.4286 42.1149 69.0933C46.7743 74.4286 53.5895 77.6048 60.8049 77.6048H62.6556L63.5809 76.0003C67.1903 69.7495 67.8498 62.2584 65.5562 55.5581C72.5059 54.1931 78.6615 49.8783 82.2709 43.6275L83.1962 42.0263L82.2709 40.425C78.6615 34.1742 72.5059 29.8594 65.5562 28.4944C67.8498 21.7941 67.1903 14.3063 63.5809 8.05547L62.6556 6.45422Z"
          fill="#1F297F"
        />
        <path
          d="M62.7838 33.8691C62.7838 34.3088 62.4393 34.65 61.9897 34.65C61.5468 34.65 61.1924 34.3055 61.1924 33.8691C61.1924 33.4392 61.5468 33.0947 61.9897 33.0947C62.4393 33.0947 62.7838 33.4392 62.7838 33.8691ZM61.3925 33.8691C61.3925 34.2136 61.6485 34.4859 61.9963 34.4859C62.3343 34.4859 62.5869 34.2136 62.5869 33.8724C62.5869 33.5278 62.3375 33.2522 61.993 33.2522C61.6485 33.2522 61.3925 33.5278 61.3925 33.8691ZM61.8716 34.2727H61.6911V33.4983C61.7633 33.4852 61.8618 33.4753 61.9864 33.4753C62.1341 33.4753 62.1997 33.4983 62.2555 33.5311C62.2982 33.5639 62.331 33.6263 62.331 33.7017C62.331 33.787 62.2654 33.8527 62.1702 33.8789V33.8888C62.2457 33.9183 62.2883 33.9741 62.3113 34.0758C62.3343 34.1939 62.3474 34.2399 62.3671 34.2694H62.1735C62.1505 34.2399 62.1341 34.1709 62.1111 34.0791C62.098 33.9938 62.0488 33.9577 61.9504 33.9577H61.865V34.2727H61.8716ZM61.8749 33.8363H61.9602C62.0586 33.8363 62.1407 33.8034 62.1407 33.7214C62.1407 33.6525 62.0882 33.6033 61.9766 33.6033C61.9274 33.6033 61.8946 33.6099 61.8782 33.6131V33.8363H61.8749Z"
          fill="#1F297F"
        />
        <path
          d="M24.6655 34.7353C24.6655 33.7477 25.2594 33.1013 26.2996 33.1013C27.2872 33.1013 27.9533 33.7477 27.9533 34.7353C27.9533 35.7033 27.2905 36.353 26.2996 36.353C25.2594 36.353 24.6655 35.7033 24.6655 34.7353ZM24.8985 37.5539H27.7171V47.1647H24.8985V37.5539Z"
          fill="#1F297F"
        />
        <path
          d="M30.25 37.5539H33.0883V43.0861C33.0883 44.3067 33.4492 44.9728 34.5255 44.9728C35.71 44.9728 36.3761 44.1459 36.3761 42.8892V37.5539H39.2144V47.1647H36.3761V45.6028H36.34C35.7461 46.6626 34.9028 47.3451 33.3573 47.3451C31.113 47.3451 30.25 46.0687 30.25 43.8408V37.5539Z"
          fill="#1F297F"
        />
        <path
          d="M48.1622 45.6389H48.1262C47.5158 46.6627 46.6365 47.3452 45.1271 47.3452C42.3971 47.3452 41.1929 45.0647 41.1929 42.3675C41.1929 39.7097 42.3774 37.3735 45.1271 37.3735C46.6365 37.3735 47.5158 38.0756 48.1262 39.0961H48.1622V33.8691H51.0005V47.1614H48.1622V45.6389V45.6389ZM48.1622 42.3708C48.1622 40.5399 47.4797 39.3717 46.1147 39.3717C44.7497 39.3717 44.0672 40.5399 44.0672 42.3708C44.0672 44.2017 44.7497 45.3535 46.1147 45.3535C47.4797 45.3535 48.1622 44.2017 48.1622 42.3708Z"
          fill="#1F297F"
        />
        <path
          d="M53.4419 42.3708C53.4419 39.3881 55.3483 37.3767 58.1144 37.3767C60.8805 37.3767 62.7836 39.3881 62.7836 42.3708C62.7836 45.3535 60.8772 47.3485 58.1144 47.3485C55.3516 47.3485 53.4419 45.3535 53.4419 42.3708ZM61.4777 42.3708C61.4777 39.9821 60.198 38.558 58.1144 38.558C56.0308 38.558 54.7511 39.9821 54.7511 42.3708C54.7511 44.7596 56.0308 46.1672 58.1144 46.1672C60.198 46.1672 61.4777 44.7596 61.4777 42.3708Z"
          fill="#1F297F"
        />
      </g>
    </defs>
  </svg>
</template>
