<template>
  <div v-if="getProduct" class="product-price">{{ getProductPrice }}</div>
  <!-- <div class="cover">
      <div class="cover__primary">
        <div class="y-wrapper">
          <div class="resume-item">{{ getUserAddressLabel }}</div>
          <div class="resume-item">{{ getUserParcelsCspAsString }}</div>
          <div class="resume-item">{{ formatAsSquareMeters(getUserLandUnitSurface) }}</div>
        </div>
      </div>
      <div class="cover__secondary">
        <img class="cover-img" src="../assets/couv.png" />

      </div>
  </div>-->
</template>

<script>
import { defineComponent, onMounted } from "@vue/composition-api";

import { useCheckout } from "@front/store";

export default defineComponent({
  setup() {
    const { fetchProduct } = useCheckout();

    onMounted(() => {
      fetchProduct();
    });

    return {
      ...useCheckout(),
    };
  },
});
</script>

<style lang="scss">
</style>
