<template>
  <div class="resume ta-center">
    <div class="mb-4">
      <div class="resume-item">{{ getUserAddressLabel }}</div>
      <div class="resume-item">{{ getUserParcelsCspAsString }}</div>
      <div class="resume-item">{{ formatAsSquareMeters(getUserLandUnitSurface) }}</div>
    </div>

    <button
      @click="updateRouteLocation({ merge: true, params: { step: 'form' } })"
      class="btn btn--primary btn--rounded mx-auto"
    >Confirmer ma sélection</button>
  </div>
</template>

<script>
import { defineComponent } from "@vue/composition-api";

import { useUtils } from "@front/store";
import { useUser } from "@front/store/user";
import { updateRouteLocation } from "@front/router";

export default defineComponent({
  setup() {
    return {
      ...useUser(),
      ...useUtils(),
      updateRouteLocation,
    };
  },
});
</script>

<style lang="scss">
@import "../scss/resume";
</style>
