<template>
    <svg
      v-if="geometry"
      class="svg-geometry"
      :viewBox="`0 0 ${size} ${size}`"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g :id="id">
        <path
          :key="`feature-${id}`"
          :d="`${getPath}`"
          vector-effect="non-scaling-stroke"
          :stroke-width="strokeWidth"
          :stroke="strokeColor"
          :style="`fill: ${fillColor};`"
        />
      </g>
    </svg>

</template>

<script lang="ts">
// const d3 = {
//   ...require("d3-array"),
//   ...require("d3-geo"),
//   ...require("d3-selection"),
// };

import { geoMercator, geoPath } from "d3-geo";

import { AreaGeometry } from "@iudo/data";
import { defineComponent, computed, PropType } from "@vue/composition-api";
import {ui} from "@front/store/ui"

export default defineComponent({
  props: {
    geometry: {
      type: Object as PropType<AreaGeometry>,
      required: true
      },
    id: {
      type: String,
      required: false
    },
    strokeWidth: {
      type: Number,
      required: false,
      default: 1
    },
    strokeColor: {
      type: String,
      required: false,
      default: `rgb(${ui.colors.rgb.blue})`
    },
    fillColor: {
      type: String,
      required: false,
      default: `rgba(${ui.colors.rgb.blue}, 0.25)`
    },
    size: {
      type: Number,
      required: false,
      default: 240
    }
  },
  setup({ geometry, strokeWidth, size}) {


    const getGeometryPath = (geometry: AreaGeometry) => {
      const padding = strokeWidth;

      const projection = geoMercator().fitExtent(
        [
          [padding, padding],
          [size - padding, size - padding],
        ],
        geometry
      );

      // console.log(projection, "projection")

      const path = geoPath(projection)(geometry);
      // console.log(path, "path")

      return path;
    };
    const getPath = computed(() => {

        const path = getGeometryPath(geometry)
        // console.log(path(parcel.geometry), "path")
        return path;
    });

    return {
      getPath
    };
  },
});
</script>
