<template>
  <!--   <svg :class="`parcel-units`"></svg>
  -->
  <div class="svg-land-unit">

    <svg
      v-if="getUserParcels.length"
      class="parcel-units"
      :viewBox="`0 0 ${size} ${size}`"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g class="map-layer">
        <path
          v-for="(path, index) in getPaths"
          :key="`feature-${index}`"
          :d="`${path}`"
          vector-effect="non-scaling-stroke"
          :stroke-width="strokeWidth"
          stroke="rgb(255, 120, 20)"
          style="fill: rgba(255, 120, 20, 0.5);"
        />
      </g>
    </svg>
  </div>
</template>

<script lang="ts">
// const d3 = {
//   ...require("d3-array"),
//   ...require("d3-geo"),
//   ...require("d3-selection"),
// };

import { geoMercator, geoPath } from "d3-geo";

import { AreaGeometry, Parcel } from "@iudo/data";
import { defineComponent, computed } from "@vue/composition-api";
import { useUser } from "@front/store/user";

export default defineComponent({
  props: {
    parcels: { required: true },
  },
  setup({ parcels }) {
    const strokeWidth = 2;
    const size = 240;

    const getGeometryPath = (geometry: AreaGeometry) => {
      const padding = strokeWidth;

      const projection = geoMercator().fitExtent(
        [
          [padding, padding],
          [size - padding, size - padding],
        ],
        geometry
      );

      // console.log(projection, "projection")

      const path = geoPath(projection)(geometry);
      // console.log(path, "path")

      return path;
    };

    const { getUserParcels } = useUser();
    const getPaths = computed(() => {
      return (getUserParcels.value as Parcel[]).map((parcel) => {
        const path = getGeometryPath(parcel.geometry)
        // console.log(path(parcel.geometry), "path")
        return path;
      });
    });


    // const features: GeoJSON.Polygon[] = computed(() => {
    //   return getUserParcels.value.map((parcel) => {
    //     return {
    //       type: "Feature",
    //       geometry: {
    //         type: "Polygon",
    //         coordinates: parcel.coordinates[0],
    //       },
    //     };
    //   });
    // });

    // const featureCollection = computed(() => {
    //   const featureCollection = {
    //     type: "FeatureCollection",
    //     features: features,
    //   };

    //   return featureCollection;
    // });

    return {
      strokeWidth,
      getPaths,
      size,
      ...useUser(),
    };
  },
});
</script>
