<template>
    <SvgGeometry v-if="parcel" :id="parcel.id" :geometry="parcel.geometry" :strokeWidth="1" :strokeColor="rgba(31, 41, 127, 1)" :fillColor="rgba(31, 41, 127, 0.25)" />
</template>

<script lang="ts">
// const d3 = {
//   ...require("d3-array"),
//   ...require("d3-geo"),
//   ...require("d3-selection"),
// };


import {  Parcel } from "@iudo/data";
import { defineComponent, PropType } from "@vue/composition-api";
import SvgGeometry from "./SvgGeometry.vue"

export default defineComponent({
  components: {
    SvgGeometry
  },
  props: {
    parcel: {
      type: Object as PropType<Parcel>,
      required: true
      },
  }
});
</script>
