<template>
  <div
    id="the-address-block"
    v-if="getUserLandUnitAddress"
    class="the-address-block"
  >
    <div class="the-address-block__primary">
      <div class="h1 fw-bold mb-0">
        {{ getUserAddressHouseNumber }} {{ getUserAddressStreet }}
      </div>
      <div class="h1 fw-light">
        {{ getUserAddressPostCode }} {{ getUserAddressCity }}
      </div>
      <div class="parcel-items">
        <b>parcelle(s) :</b>&nbsp;
        <span
          :key="csp"
          v-for="(csp, index) in getUserParcelsCsp"
          class="parcel-item fw-light"
        >
          {{ csp }}
          <!-- <span v-if="index !== getUserParcelsCsp.length - 1">,</span> -->
        </span>
      </div>
    </div>
    <div class="the-address-block__secondary">
      <button
        v-if="hasUserParcels && !isFocusRoute"
        class="btn btn--rounded btn--primary btn--shadow"
        @click="goToStep(ScrollIds.FORM, true)"
      >
        Recevoir mon étude
      </button>

      <button
        :disabled="isSaving"
        v-if="hasUserParcels && isFocusRoute"
        class="btn btn--rounded btn--primary btn--shadow btn--with-loader"
        @click="handleLoggedUserSave()"
      >

        <span v-show="!isSaving">Enregistrer</span><span class="loader" v-show="isSaving"></span>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  onUnmounted,
  watch,
} from "@vue/composition-api";
import { useUser } from "@front/store/user";
import { handleLoggedUserSave } from "@front/store/checkout";
import { updateRouteLocation } from "@front/router";
import { ScrollIds } from "@front/router/routes";
import { scrollToElement } from "@iudo/shared/utils";

export default defineComponent({
  components: {},
  setup() {
    let stopWatcher;

    const { getUserLandUnitAddress } = useUser();

    onMounted(() => {
      // if (getRouteStep.value === ScrollIds.ADDRESS) {
      stopWatcher = watch(
        () => getUserLandUnitAddress.value,
        (newValue, oldValue) => {
          if (newValue !== null) {
            scrollToElement(`#${ScrollIds.ADDRESS}`, {
              block: "end",
            });
            stopWatcher();
          }
        }
      );
      // }
    });

    onUnmounted(() => {
      stopWatcher();
    });

    // const {
    //   getUserParcels,
    //   getUserParcelsCsp,
    //   getUserLandUnitPostCode,
    //   getUserLandUnitCity,
    //   getUserLandUnitHouseNumber,
    //   getUserLandUnitStreet,
    //   getUserSelectedParcel,
    //   getUserLandUnit,
    //   getUserLandUnitLabel,
    //   getUserLandUnitSurface,
    // } = useUser();

    return {
      updateRouteLocation,
      ScrollIds,
      ...useUser(),
      handleLoggedUserSave,
    };
  },
});
</script>

<style lang="scss">
@import "../scss/the-address-block";
</style>
