<template>
  <div class="the-header-container">
    <div class="the-header">
      <div class="the-header__left">
        <a :href="`${mainUrl}`">
          <Logo class="logo" />
        </a>
      </div>
      <div class="the-header__center">
        <!-- <div class="breadcrumb">
          <div
            class="breadcrumb__item is-circle"
            :class="{'is-active': getStepNumber >= 0, 'is-checked': getStepNumber > 0}"
          >
            <span>1</span>
          </div>
          <Icon class="mx-small" name="next" />
          <div class="breadcrumb__item is-circle" :class="{'is-active': getStepNumber >= 1}">
            <span>2</span>
          </div>
          <Icon class="mx-small" name="next" />
          <div class="breadcrumb__item">
            <span>Étude de potentiel</span>
          </div>
        </div>-->
      </div>

      <div v-if="isResolvedRoute" class="the-header__right">
        <button
          v-if="hasUserParcels && !isFocusRoute"
          @click="goToStep(ScrollIds.FORM, true)"
          class="btn btn--primary btn--rounded btn--shadow"
        >
          Recevoir mon étude
        </button>
        <div v-if="isFocusRoute">
          <!-- <div v-if="getUserProfile">
            {{getUserProfile.name}}
          </div> -->
        <!-- <button class="btn btn--primary btn--outlined btn--small btn--rounded" v-if="!getUserProfile" @click="loginWithEmail()">
          Se connecter
        </button> -->
        <!-- <button class="btn btn--primary btn--outlined btn--small  btn--rounded" v-if="getUserProfile" @click="logout()">
          Se déconnecter
        </button> -->
        <button class="btn btn--primary btn--outlined btn--small  btn--rounded" v-if="getUserProfile" @click="goToApp()">
          Voir mes adresses
        </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted } from "@vue/composition-api";
import Logo from "@front/components/Logo.vue";
import Icon from "@front/components/Icon.vue";
import { useUser } from "@front/store/user";
import { ScrollIds } from "@front/router/routes";

export default defineComponent({
  components: {
    Logo,
    Icon,
  },
  setup() {
    onMounted(() => {
      // const observer = new IntersectionObserver(
      //   ([e]) => e.target.toggleAttribute("stuck", e.intersectionRatio < 1),
      //   { threshold: [1] }
      // );
      // observer.observe(document.querySelector(".the-header-container"));
    });

    const mainUrl = process.env.VUE_APP_MAIN_URL;

    return {
      mainUrl,
      ScrollIds,
      ...useUser(),
    };
  },
});
</script>

<style lang="scss">
@import "../scss/the-header";
</style>
