<template>
  <div id="the-map" class="the-map">
    <!-- <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css"
      rel="stylesheet"
    /> -->

    <MglMap
      :accessToken="getMapAccessToken"
      :mapStyle.sync="getMapStyle"
      :attributionControl="false"
      @load="onMapLoaded"
      :maxBounds="getMapMaxBounds"
    >
      <div class="map-controls map-controls--top">
        <div class="btn-group btn-group--vertical btn-group--rounded">
          <Btn icon primary outlined @click="zoomIn()">
            <Icon name="zoom" />
          </Btn>
          <Btn icon primary outlined @click="zoomOut()">
            <Icon name="dezoom" />
          </Btn>
        </div>
        <div class="toggle-group">
          <Toggle class="simptip-position-top" data-tooltip="vue cadastre" :letter="'c'" v-model="cadastreModel" />
          <Toggle :letter="'s'" class="simptip-position-bottom" data-tooltip="vue satellite" v-model="satelliteModel" />
          <Toggle v-if="plu" :letter="'p'" class="simptip-position-bottom" data-tooltip="vue PLU" v-model="pluModel" />
          <Toggle v-if="buildings" :letter="'b'" class="simptip-position-bottom" data-tooltip="vue batiment" v-model="buildingsModel" />
        </div>
      </div>
      <div class="map-controls map-controls--bottom">
        <Btn
          :disabled="!hasUserParcels"
          class="btn--circle"
          icon
          primary
          outlined
          @click="mapFitToUserLandUnit()"
        >
          <Icon name="parcel" />
        </Btn>
      </div>
    </MglMap>
  </div>
</template>

<script lang="ts">
import { defineComponent, onUnmounted, toRefs } from "@vue/composition-api";

// eslint-disable-next-line @typescript-eslint/no-unused-vars
// import Mapbox from "mapbox-gl";
import { MglMap } from "vue-mapbox";
import Btn from "@front/components/Btn.vue";
import Toggle from "@front/components/Toggle.vue";
import Icon from "@front/components/Icon.vue";

import { useMap } from "@front/store";
import { useUser } from "@front/store/user";
import "mapbox-gl/dist/mapbox-gl.css";
import "vue-mapbox/dist/vue-mapbox.css";

export default defineComponent({
  components: {
    MglMap,
    Btn,
    Toggle,
    Icon,
  },
  props: {
    plu: {required: false},
    buildings: {required: false}
  },
  setup() {
    const { state, initMap, onMapUnmounted } = useMap();

    const { hasUserParcels } = useUser();

    const onMapLoaded = (event) => {
      initMap(event);
    };

    onUnmounted(() => {
      onMapUnmounted();
    });

    return {
      hasUserParcels,

      onMapLoaded,

      ...useMap(),
      ...toRefs(state),
    };
  },
});
</script>

<style lang="scss">
@import "../scss/the-map";
</style>
