<template>
  <label class="toggle">
    <input :checked="value" @change="emit('input', $event.target.checked)" type="checkbox" />
    <span :data-letter="letter" class="toggle__slide"></span>
  </label>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";
// import { state } from "@front/store";

export default defineComponent({
  props: {
    letter: {
      type: String,
      required: false,
    },
    value: {
      type: Boolean,
      required: false,
    },
    // updateFunction: {
    //   type: Function,
    //   required: true,
    // },
  },
  setup(props, { emit }) {
    return {
      emit,
    };
  },
});
</script>

<style lang="scss">
@import "../scss/variables";
@import "../scss/toggle";
</style>
