<template>
  <div class="ta-center">
          <Logo class="logo mb-2" style="width: 80px; height:80px;" />

<h5>
    Désolé, cette url n'existe pas</h5>
  </div>
</template>

<script lang="ts">
import Logo from "@front/components/Logo.vue";
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  components: {
    Logo
  }
})
</script>
