<template>
  <div class="checkout-success">
    <div class=""><b>Merci d'avoir commandé une étude de potentiel !</b></div>

    <p>
      Vous recevrez bientôt un mail de notre part vous indiquant si votre
      adresse est éligible pour notre étude.
    </p>

    <p>
      Si votre adresse est éligible, nous créerons votre espace personnel au
      sein duquel vous pourrez télécharger votre étude et trouver des ressources
      qui pourront vous aider à définir votre projet
    </p>

    <p>
      Nous vous préviendrons dès que celle-ci sera prête - en général dans les
      48 heures.
    </p>

    <p>
      Après la réception de votre étude vous aurez terminé l’étape n°1 et
      pourrez débuter l’étape n°2 de votre parcours d’autopromotion.
    </p>
  </div>
</template>

<script>
import { defineComponent } from "@vue/composition-api";
export default defineComponent({});
</script>

<style lang="scss">
@import "../scss/checkout";
</style>
