<template>

    <!-- <img alt="Vue logo" src="../assets/logo.png" /> -->

    <TheMap :buildings="isFocusRoute" :plu="isFocusRoute" class="" />



</template>

<script>
import Search from "@iudo/shared/components/search/Search.vue";
import TheMap from "../components/TheMap.vue";
import TheAddressBlock from "../components/TheAddressBlock.vue";
import Blocks from "../components/Blocks.vue";

import FormModal from "../components/FormModal.vue";
import Resume from "../components/Resume.vue";
import Icon from "../components/Icon.vue";

// import Form from "../components/Form.vue";
import { useCheckout, useForm, useGlobal } from "@front/store";
import { useUser } from "@front/store/user";
import { ScrollIds } from "@front/router/routes";

import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  name: "Home",
  components: {
    Search,
    TheMap,
    TheAddressBlock,
    Blocks,
    FormModal,
    Icon,
    Resume,
    ThePotential: () =>
      import(
        /* webpackChunkName: "ThePotential" */ "../components/ThePotential.vue"
      ),
    SpecialUserCharacteristics: () =>
      import(
        /* webpackChunkName: "SpecialUserCharacteristics" */ "../components/SpecialUser/SpecialUserCharacteristics.vue"
      ),
    // Form: () => import(/* webpackChunkName: "Form" */ "../components/Form.vue"),
  },
  setup() {
    return {
      ScrollIds,
      ...useGlobal(),
      ...useUser(),
      ...useForm(),
      ...useCheckout(),
    };
  },
});
</script>
