<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png" /> -->
    <Search :standalone="false" :withButton="false" class="mb-4" />
    <TheMap :buildings="isFocusRoute" :plu="isFocusRoute" class="border mb-4" />

    <TheAddressBlock
      v-if="hasUserLandUnit"
      class="x-wrapper y-wrapper border-top"
    />
    <a name="address" id="address"></a>


    <SpecialUserCharacteristics v-if="isFocusRoute" class="border-top" />


    <Blocks v-if="hasUserLandUnit && !isFocusRoute" class="border-top y-wrapper x-wrapper" />
    <a name="informations" id="informations"></a>
    <!-- <div
      v-if="hasUserParcels && !isFormUserStep"
      class="border-top border--dashed x-wrapper y-wrapper"
    >
      <Resume />
    </div>-->
    <div class="border-top border--dashed y-wrapper" v-if="hasUserParcels && !isFocusRoute">

      <ThePotential  />

      <div class="x-wrapper ta-center:mobile">
        <button class="btn btn--rounded btn--primary btn--shadow" @click="goToStep(ScrollIds.FORM, true)" >
          Recevoir mon étude
        </button>
      </div>

      <FormModal />


    </div>
  </div>
</template>

<script>
import Search from "@iudo/shared/components/search/Search.vue";
import TheMap from "../components/TheMap.vue";
import TheAddressBlock from "../components/TheAddressBlock.vue";
import Blocks from "../components/Blocks.vue";

import FormModal from "../components/FormModal.vue";
import Resume from "../components/Resume.vue";
import Icon from "../components/Icon.vue";

// import Form from "../components/Form.vue";
import { useCheckout, useForm, useGlobal } from "@front/store";
import { useUser } from "@front/store/user";
import { updateRouteLocation } from "@front/router";
import { ScrollIds } from "@front/router/routes";

import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  name: "Home",
  components: {
    Search,
    TheMap,
    TheAddressBlock,
    Blocks,
    FormModal,
    Icon,
    Resume,
    ThePotential: () =>
      import(
        /* webpackChunkName: "ThePotential" */ "../components/ThePotential.vue"
      ),
    SpecialUserCharacteristics: () =>
      import(
        /* webpackChunkName: "SpecialUserCharacteristics" */ "../components/SpecialUser/SpecialUserCharacteristics.vue"
      ),
    // Form: () => import(/* webpackChunkName: "Form" */ "../components/Form.vue"),
  },
  setup() {
    return {
      ScrollIds,
      updateRouteLocation,
      ...useGlobal(),
      ...useUser(),
      ...useForm(),
      ...useCheckout(),
    };
  },
});
</script>
