<template>
<div class="frame-container">
    <form @submit.prevent="onLoginSubmit" class="login-view border">

      <Logo class="logo mb-2" style="width: 80px; height:80px;" />

    <div class="mb-4 ta-center">
      <h3>Accéder à iudo map + </h3>
      <p class="h6">
        Allez plus loin dans les informations concernant une adresse et son potentiel.
      </p>
      </div>

  <div style="width:100%; " class="d-flex flex-column align-center mb-4 ta-center">
      <input style="max-width: 480px; width: 100%;" placeholder="Entrez votre adresse mail" class="form-input mb-1 mx-auto" type="email" id="email" v-model="inputModel">
      <small>Pas encore de compte ? Demander un accès <a :href="getLinks.create_account" target="_blank">ici</a> -></small>
      </div>


      <button :disabled="!inputModel.length" class="btn btn--rounded" type="submit">Se&nbsp;connecter</button>



      </form>
      </div>
</template>

<script lang="ts">
import Logo from "@front/components/Logo.vue";

import { computed, defineComponent, ref, set } from "@vue/composition-api";
import { useGlobal } from "@front/store";
import { useUser } from "@front/store/user";
import router from "@front/router";
import { isLoggedUser } from "@front/store/user/getters";

export default defineComponent({
  components: {
    Logo
  },
  // beforeRouteEnter: (to, from, next) => {

  //       const {isLoggedUser} = useUser()
  //       if (isLoggedUser) {

  //         next({
  //           path: to.query.redirect ? to.query.redirect  as string : undefined
  //         })
  //       }
  // },
  setup() {

    // const input = ref("")

    const inputModel = ref("")

    const {loginWithEmail} = useUser()


    const onLoginSubmit = async () => {

        await loginWithEmail(inputModel.value);

      if (isLoggedUser.value) {
        if (router.currentRoute.query.redirect) {
          router.push({
            path: router.currentRoute.query.redirect as string
          })
        } else {
          router.push('/focus')
        }
      }


    }

    return  {

      inputModel,
      onLoginSubmit,
      ...useGlobal()
    }

  }


})
</script>

<style lang="scss">
@import "../scss/styles.scss"

</style>
