
$mq-debug: false;
$mq-enable-width-breakpoints: true;

@import "../../../../node_modules/sass-modern-mq";
@import "./mixins";

$primary: #1F297F;
$secondary: #FFF12F;
$background: #F9F4F1;
$black: #000;
$dark: #38352F;
$grey: #E5E5E4;
$grey-light: #F3F3F1;

$max-width: 1280px;

$radius: 5px;

/*------------------------------------*\
    # Simple Typography Settings
\*------------------------------------*/

// Font Family
//$font-family: "Synthese";
$font-family: 'Inter', sans-serif;

// Base Font for HTML
$base-font-size: 18px;

// Paragraph Styles
$paragraph-size       : rem(18px);
$paragraph-line-height: 1.5em;
$paragraph-margin     : rem($base-font-size);

// Header Styles
$header-size       : rem(36px);
$header-line-height: 1.25em;
$header-margin     : $paragraph-margin * 1.2;

$h1-ratio: 1; // 36px
$h2-ratio: 1.3;  // ~27px
$h3-ratio: 1.5;  // ~24px
$h4-ratio: 1.65; // ~22px
$h5-ratio: 1.8; // ~20px
$h6-ratio: 2.25; // 16px


$h1-size: $header-size / $h1-ratio;
$h2-size: $header-size / $h2-ratio;
$h3-size: $header-size / $h3-ratio;
$h4-size: $header-size / $h4-ratio;
$h5-size: $header-size / $h5-ratio;
$h6-size: $header-size / $h6-ratio;

$h1-margin: $header-margin / $h1-ratio;
$h2-margin: $header-margin / $h2-ratio;
$h3-margin: $header-margin / $h3-ratio;
$h4-margin: $header-margin / $h4-ratio;
$h5-margin: $header-margin / $h5-ratio;
$h6-margin: $header-margin / $h6-ratio;

// Blockquote Styles
$blockquote-color      : #505050;
$blockquote-size       : $h4-size;
$blockquote-line-height: 1.5em;
$blockquote-margin     : $paragraph-margin * 1.5;






// Links
$link-color: $primary;

// hr
$hr-margin: rem($base-font-size);

// Type Misc
$font-weight-bold: bold;
$font-weight-light: 300;
$font-weight-normal: normal;
$border-color: #DADADA;

$padding: rem($base-font-size/2);

$margin: rem($base-font-size / 2);

$body-padding: $padding * 4;
$body-small-padding: $padding * 2;

$table-padding: 15px;
