@import "variables";


.blocks {
  display: flex;
  margin-left: -$body-padding;
  margin-right: -$body-padding;
  margin-top: $body-padding;
  @include mq('width<xlarge') {
    flex-wrap: wrap;
  }

  &.blocks--no-padding {
    margin-left: -$body-padding/2;
    margin-right: -$body-padding/2;
  }

  @include mq(">=square") {
    margin-left: -$body-small-padding;
    margin-right: -$body-small-padding;
    margin-top: $body-small-padding;
    flex-direction: column;
  }
  &.blocks--special {
    @include mq("width<=large") {
      margin-left: -$body-small-padding;
      margin-right: -$body-small-padding;
      margin-top: $body-small-padding;
      flex-direction: column;
    }
  }

  &.blocks--focus {
    @include mq("width>large") {
    & > .block:first-child {
      width: 66.666%;
    }
    & > .block:last-child {
      width: 33.333%;
    }
  }
  }


}

.block {

  margin-bottom: 1em;
  flex-grow: 1;
  margin: 0 $body-padding;

  .blocks--no-padding & {
    margin: 0 $body-padding/2;
  }

  @include mq(">=square") {
    margin: 0 $body-small-padding;
  }


}

.block-title {
  font-size: $h4-size;
  margin-bottom: 1em;
  text-decoration: underline;

}

.block-table {
  display: table;
  border-collapse: collapse;
  margin-top: 0;

  & > tr {
    & > td {
      // width: 100%;
    }
  }

  @include mq("width>large") {
    .block--condensed & {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      > tr {
        display: flex;
        width: 50%;
        flex-grow: 1;
        &:nth-of-type(odd) td {
          border-right: 0;
        }
        &:nth-of-type(4n-3) td, &:nth-of-type(4n-2) td {
          border-bottom: 0;
        }

        & > td {
          &:first-child {
            flex-grow: 1;
            flex-shrink: 1;
            border-right: 0;

          }
          &:last-child {

            flex-shrink: 0;
            min-width: 4em;
          }
        }
      }
    }
  }

  td {
    // border-color: transparent;
    border: 1px solid $primary;

  }
}
.block-key {
  font-weight: bold;
}
.block-value {
  font-weight: lighter;
text-align: center;
vertical-align: middle;
}

.blocks-container {
  overflow: hidden;

}
.blocks-title {
  display: flex;
  flex-direction: row;
}
.blocks-info {
  margin-left: auto !important;
  align-self: center;
}

.block-table-as-row {
  display: flex;
  flex-grow: 1;
  margin: 0;

  &.two-cols-row > tr > td {
    flex-basis: 50%;
  }
  &.four-cols-row > tr > td {
    flex-basis: 25%;
  }

  & > tr {
    flex-grow: 1;
    display: flex;
    width: 100%;
    @include mq(">=square") {
      flex-direction: column;
    }

    & > td {
      flex-grow: 0;
      flex-shrink: 1;
      display: flex;
      height: 100%;
      // flex-basis: 50%;
      border: none;
      padding: 0;


      table {
        display: flex;
        margin: 0;

        & > tr {
          display: flex;
          width: 100%;
        }
        & > tr > td {

          display: flex;
          align-items: center;
          flex-shrink: 1;
          flex-grow: 1;
          flex-basis: 50%;

          &:first-child {
            // align-items: flex-start;
          }
        }
      }
    }
  }




  td > & td {

    vertical-align: middle;
    border-left: none;
    border-top: none;

    &:first-child {
      @include mq(">=square") {
        word-break: break-all;
      hyphens: auto;
      }
    }

    @include mq("<square") {
      border-bottom: none;
    }


  }
  & > tr td:last-child td:last-child {
    @include mq("<square") {
      border-right: none;
    }
  }
  & > tr td:last-child td {
    @include mq(">=square") {
      border-bottom: none;
    }
  }
  & > tr td td:last-child {
    @include mq(">=square") {
      border-right: none;
    }
  }


  // & > tr > td:first-child td {
  //   border-left: none;
  // }
  // & > tr td:last-child {
  //   border-right: none;
  // }



}

.block-table-row {
  transition: background ease 300ms;

  &--highlighted {
    background-color: rgba($primary, 0.1);
  }
}
.block-table-row--small {
  @include mq("<square") {
    font-size: $paragraph-size * 0.66;
  }
  td {
    @include mq("<square") {
    padding-left: $table-padding * 0.66;
    padding-right: $table-padding * 0.66;
    }
  }
}


.buildings-table-container {


  border: none !important;
  padding: 0;
}
.buildings-table {
  margin-top: 0;
  width: calc(100% + 1px);
  position: relative;
  & > tr:first-child td {
    border-top: none !important;
  }
  & > tr > td > table {
    margin-bottom: -1px;
  }

  .svg-geometry {
    margin-top: -1em;
    margin-bottom: -1em;
  }
}



