.btn {
  border: 1px solid transparent;
  background-color: $primary;
  color: white;
  padding: $padding;
  line-height: 1;
  transition: all ease 100ms;
  font-weight: $font-weight-bold;
  cursor: pointer;

  &:disabled {
    opacity: .75;
    cursor: not-allowed;
  }



  &.btn--shadow {
    box-shadow: 0px 1px 8px rgba($primary, 0.2);
  }


  &.btn--pointer {
  }
  &.btn--icon {
    padding: 0;
    margin: 0;
    line-height: 0;
    font-size: 0;
    color: $primary;
    background-color: transparent;
    border-color: transparent;
  }
  &.btn--transparent {
    border-color: transparent;
    background-color: transparent;
    color: $dark;
  }
  &.btn--primary {
    border-color: transparent;
    background-color: $primary;
    color: white;
    &.btn--outlined {
      background-color: transparent;
      border-color: $primary;
    }
  }
  &.btn--secondary {
    border-color: transparent;
    background-color: $secondary;
    color: $primary;
  }
  &.btn--primary.btn--outlined {
    border-color: $primary;
    background-color: white;
    color: $primary;

    &:not(:disabled):hover {
      background-color: $primary;
      color: white;
    }
  }
  &.btn--secondary.btn--outlined {
    border-color: $primary;
  }
  // &.btn--rounded {
  //   border-radius: $radius;
  // }
  &.btn--link {
    background-color: transparent;
    border-color: transparent;
    color: $primary;
    font-size: inherit;
  }
  &.btn--underline {
    text-decoration: underline;
  }
  &.btn--rounded {
    $size: .75em;
    border-radius: $size * 2;
    padding-left: $size * 4;
    padding-right: $size * 4;
    padding-top: $size;
    padding-bottom: $size;
    &.btn--small {
      $size: .5em;
      border-radius: $size * 2;
      padding-left: $size * 4;
      padding-right: $size * 4;
      padding-top: $size;
      padding-bottom: $size;
    }
  }
  &.btn--circle {
    border-radius: 50%;
    overflow: hidden;
    padding: .25rem !important;
  }
  &.btn--icon {
    padding: 0;
    line-height: 0;
    font-size: 0;
  }
}

.btn {
  &.btn--small {
    padding: $padding/2;
  }
  &.btn--large {

  }

}

.btn-group {
  display: inline-flex;
  flex-shrink: 1;
  flex-grow: 0;
  font-size: 0;
  line-height: 0;
  margin-bottom: 1rem;

  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);



  &.btn-group--rounded {
    border-radius: $radius;
    // border: 1px solid $primary;
    // overflow: hidden;

    & .btn {

      // border-left: none;
      // border-top: none;
      // border-right: none;
      padding: $padding/2;

      &:first-child {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
      }
      &:last-child {
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
      }
      &:not(:first-child) {
        border-top: none;
      }
      &:not(:last-child):not(:first-child) {
        border-bottom: none;
        //border-bottom-width: 0.5px;
      }
    }
  }

  &.btn-group--vertical {
    flex-direction: column;
  }

}


