$font-directory: '~@front/../public/fonts';

// @font-face {
//     font-family: 'Synthese';
//     src: url('#{$font-directory}/synthese/synthese-bold-webfont.woff2') format('woff2'),
//          url('#{$font-directory}/synthese/synthese-bold-webfont.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;

// }




// @font-face {
//     font-family: 'Synthese';
//     src: url('#{$font-directory}/synthese/synthese-light-webfont.woff2') format('woff2'),
//          url('#{$font-directory}/synthese/synthese-light-webfont.woff') format('woff');
//     font-weight: $font-weight-light;
//     font-style: normal;

// }




@font-face {
    font-family: 'Synthese';
    src: url('#{$font-directory}/synthese/synthese-regular-webfont.woff2') format('woff2'),
         url('#{$font-directory}/synthese/synthese-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
