@import "./variables";


.form-container {
  background-color: #fff;
  border-top: 1px solid $primary;
  border-bottom: 1px solid $primary;
  width: 100%;
  display: block;
  @include mq('<portrait') {
    border: 1px solid $primary;
  }
  text-align: center;
}

.main-form {
  margin: auto;
  margin-top: $margin;
  width: 100%;

  @include mq('landscape') {
    max-width: 50%;
  }
  text-align: center;
}

textarea.form-input {
  min-height: 5em;
}

.form-input {
  background-color: #fff;
  border: 1px solid $primary;
  font-size: $base-font-size;
  width: 100%;
  padding: $padding $padding*2;
  font-weight: $font-weight-bold;
  color: $primary;


  &::placeholder {
    color: rgba($primary, .6);
    font-weight: normal;
  }
}
.product-frame {
    border: 1px solid $primary;
    padding: .5em 1em;
    display: inline-block;
  }


.product-price {
  // background: white;
  // color: $primary;
  // border: 1px solid $primary;
  // padding: $padding * 2;
  //font-weight: $font-weight-bold;
}


.input-like {
  background-color: $secondary;
  border: 1px solid $primary;
  font-size: $base-font-size;
  width: 100%;
  display: flex;
  align-items: stretch;

  color: $primary;

  display: flex;
  flex-direction: row;

  @include mq('portrait') {
    flex-direction: column;
    text-align: center;

    &__left, &__right {
      width: 100%;
    }
  }

  &__left {
    margin-right: auto;
    padding: $padding $padding*2;

    a {
      color: $primary;
    }

    & .download-link {
      margin: 0;
      padding: 0;
      display: flex;

      line-height: 1;
      text-decoration: underline;

      @include mq('portrait') {
        justify-content: center;
      }

    }
  }
  &__right {
    padding: $padding $padding*2;

    margin-left: auto;
    background-color: #fff;
    align-items: center;
    display: flex;
    text-decoration: underline;

    @include mq('<portrait') {
      border-left: 1px solid $primary;

    }
    @include mq('portrait') {
      border-top: 1px solid $primary;
      width: 100%;
      justify-content: center;
    }
  }
}






@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #{$primary};
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #{$primary};
    --border-hover: #{$primary};
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 21px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: $radius;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }

  }

}
