.svg-icon {
  fill: currentColor;
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;

  svg {
    width: 100%;
    height: auto;
  }
}
.svg-icon--small {
  width: 12px;
  height: 12px;


}
