@import "./variables";
@import "./utils";

.x-wrapper {
  @include mq('<square') {
    padding-left: ($padding * 3);
    padding-right: ($padding * 3);
  }
  &--responsive {
    @include mq('portrait') {
      margin-left: -$body-small-padding;
      margin-right: -$body-small-padding;
    }
  }
}
.y-wrapper {
    padding-top: ($padding * 4);
    padding-bottom: ($padding * 4);
}
.frame-container {

  @include mq('width<large') {
    margin-left: -$body-small-padding;
    margin-right: -$body-small-padding;
  }
}

