$spinner-color: $primary;
$spinner-width: 3em;
.loader {
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  margin: auto;
  margin-top: -1em;
  margin-bottom: -1em;
  text-indent: -9999em;
  width: $spinner-width;
  height: $spinner-width;
  border-radius: 50%;
  background: $spinner-color;
  background: linear-gradient(to right, $spinner-color 10%, rgba(255, 255, 255, 0) 42%);
  .btn--primary & {
    $spinner-color: white;
    background: $spinner-color;
    background: linear-gradient(to right, $spinner-color 10%, rgba(255, 255, 255, 0) 42%);
  }


  position: relative;

  animation: load3 1.4s infinite linear;

  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: $spinner-color;
  .btn--primary & {
    $spinner-color: white;
    background: $spinner-color;
  }
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #fff;
  .btn--primary & {
    background: $primary;
  }
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
