@import 'variables';

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($primary, .1);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 100%;
  max-width: 568px;
  margin: 0px auto;
  padding: $padding * 4;
  background-color: #fff;
  max-height: 100vh;

  transition: all 0.3s ease;

  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  overflow: auto;

}

.modal-close {
  top: $padding * 4;
  position: absolute;
  right: $padding * 4;
}


.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
