
@import "./variables";

.resume {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  @include mq('<=square') {
    max-width: 50%;
  }
}

.resume-item {
  background-color: $secondary;
  color: $primary;
  font-weight: $font-weight-bold;
  padding: 1em;
  margin-bottom: $margin * 2;

}
