@import 'variables';

.the-header-container {
  // position: sticky;
    // top: -1px;
    // padding-top: 1px;
    // left: 0;
    // z-index: 1;
    width: 100%;
    background-color: $background;
  transition: box-shadow ease 300ms;
  transform: translateZ(0);
  will-change: auto;
  overflow: hidden;


  margin-left: -$body-padding;
  margin-right: -$body-padding;
  padding-left: $body-padding;
  padding-right: $body-padding;
  box-sizing: content-box;
  box-shadow: 0px 1px 8px rgba(31, 41, 127, 0);
  @include mq('>square') {
    margin-left: -$body-small-padding;
    margin-right: -$body-small-padding;
    padding-left: $body-small-padding;
    padding-right: $body-small-padding;
  }
  &[stuck] {
    box-shadow: 0px 1px 8px rgba(31, 41, 127, 0.2);
    z-index: 1000;
    .the-header {

      transform: translateY(1px);
    }
 }
}
.the-header {
  // SAFARI FLEX FIX
  min-height: 0;
  height: auto;
  // END SAFARI FLEX FIX

  $body-margin: $margin*4;
  padding-bottom: $padding * 2;
  padding-top: $padding * 2;
  position: relative;
  transform: translateY(0px);


  display: flex;
  flex-direction: row;
  align-items: center;


  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  &__left {
    // display: none;
    .logo {
      width: 84px;
      height: auto;
    }

    @include mq('>square') {
      // text-align: center;
      // width: 100%;

      .logo {
        width: 60px;

      }
    }
  }
  &__center {
    // display: none;
    padding-left: $padding * 4;

    @include mq('>=square') {
      display: none;
    }
  }
  &__right {
    padding-left: $padding * 4;
    text-align: right;
    margin-left: auto;
    @include mq('>square') {
      // display: none;
    }
  }
}


.breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;



  &__item {

    border: 1px solid $primary;
    color: $primary;
    padding: .5rem .5rem;

    line-height: 1;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: relative;

    & > span {
      transform: translateY(-1px);
    }


    &.is-circle {
      padding: 1rem;
      font-size: 0;
      line-height: 0;

      & > span {
        content: attr(data-breadcrumb);
        position: absolute;
        font-size: 1rem;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }



    &.is-active {
      background-color: $secondary;
    }
    &.is-checked {
      background-color: $primary;
      color: white;
    }

    &.is-circle {
      border-radius: 50%;
    }

    &::after {
      content:"";

    }
  }
}

