@import 'variables';


.the-address-block {
  // SAFARI FLEX FIX
  min-height: 0;
  height: auto;
  // END SAFARI FLEX FIX
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  @include mq('>=square') {
    flex-direction: column;
    text-align: center;
  }
  &__primary {
    flex-grow: 1;
  }
  &__secondary {
    @include mq('>=square') {
      margin-top: $margin*4;
      // text-align: right;
    }
  }

}

.parcel-items {
  line-height: 1.5;
}
.parcel-item {
  background-color: rgba($secondary, 0.1);
  color: $primary;
  border: 1px solid $secondary;
  font-size: $h6-size;
  padding: 1px .5em;
  margin-right: .5em;

}
