@import 'variables';


.the-map {
  min-height: 50vh;
  // @include mq('landscape and width<large') {
  //   min-height: calc(100vh - #{$body-small-padding});
  // }
  opacity: 0;
  transition: opacity ease 300ms;

&.is-resized {
  opacity: 1;
}

  height: 100%;
  position: relative;
}
.mgl-map-wrapper {
  height: 100%;
  position: absolute;
  left: 0;right: 0;top: 0;bottom: 0;
}
.map-controls {
  position: absolute;
  right: 1em;

  z-index: 10;


  text-align: right;

  &--top {
    top: 1em;
  }
  &--bottom {
    bottom: 1em;
  }
}

