
@import "./variables";
.cover {
  display: flex;

}
.cover__primary {

}
.cover__secondary {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  text-align: center;
}
.cover-img {
  width: 160px;
  margin-bottom: $margin * 2;
  box-shadow: 0px 1px 8px rgba(31, 41, 127, 0.2);
}
.table-flex {
  display: flex;
  justify-items: flex-end;
  align-items: flex-end;

  & > .block-table + .block-table {
    @include mq('>=square') {
      margin-top: -$margin * 3;


      tr:first-child td {
        border-top-color: transparent;
      }
    }
  }

  & > .block-table {
    @include mq('>=square') {
      td {
        width: 50%;
      }
    }
    @include mq('<square') {
    // width: 50%;
    }
  }

  & > :last-child td {
    @include mq('<square') {
    border-left: transparent;
    }
  }
  & > * {

  }
  @include mq('>=square') {
    flex-direction: column;
  }
}



.potential-blocks {
  display: flex;
  margin-left: -$body-padding;
  margin-right: -$body-padding;



  @include mq('>=square') {
    flex-direction: column;

    margin-left: -$body-small-padding;
    margin-right: -$body-small-padding;
  }
}
