$toggle-size: 24px;

.toggle-group {
  display: flex;
  flex-direction: column;
}

/* The switch - the box around the slider */
.toggle {
  position: relative;
  display: inline-block;
  width: ($toggle-size * 2);
  height: $toggle-size;
  margin-bottom: .5em;
}

/* Hide default HTML checkbox */
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle__slide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 1px solid $primary;
  transition: .4s;
  border-radius: 1em;
}

.toggle__slide::before {
  position: absolute;
  content: attr(data-letter);
  display: flex;
  justify-content: center;
  height: $toggle-size;
  width: $toggle-size;
  left: -.5px;
  bottom: -1px;
  background-color: $primary;
  color: white;
  transition: .4s;
  border-radius: 50%;

  line-height: $toggle-size - 2px;
  font-size: 16px;
  font-weight: lighter;
  vertical-align: middle;
}

input:checked + .toggle__slide {
  background-color: $primary;
}

input:focus + .toggle__slide {
  box-shadow: 0 0 1px $primary;
}

input:checked + .toggle__slide:before {

  transform: translateX($toggle-size);
  background-color: white;
  color: $primary;
}
