@import "variables";





/*------------------------------------*\
    # Type
\*------------------------------------*/

// Make type normal across browsers
*, html, body {
    font-size: $base-font-size;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    @include mq('>square and width<large') {
      font-size: 16px;
    }
}


// Headers
h1, h2, h3, h4, h5, h6 {
    margin-top: $header-margin * 1.5;

    line-height: $header-line-height;
    font-weight: 700;

    &:first-child {
        margin-top: 0;
    }
}

h1, .h1 {
    font-size: $h1-size;
    margin-bottom: $h1-margin;
}

h2, .h2 {
    font-size: $h2-size;
    margin-bottom: $h2-margin;
}

h3, .h3 {
    font-size: $h3-size;
    margin-bottom: $h3-margin;
}

h4, .h4 {
    font-size: $h4-size;
    margin-bottom: $h4-margin;
}

h5, .h5 {
    font-size: $h5-size;
    margin-bottom: $h5-margin;
}

h6, .h6 {
    font-size: $h6-size;
    margin-bottom: $h6-margin;
}



// Paragraphs
p {
    margin-bottom: $paragraph-margin;
    font-size: $paragraph-size;
    line-height: $paragraph-line-height;

    &:last-of-type {
        margin-bottom: 0;
    }
}



// Links
a {
    color: $link-color;
    transition: all 0.2s ease;

    &:hover {
        color: darken($link-color, 20%);
    }
}


// Lists
ul,
ol {
    margin: $paragraph-margin 0 0 20px;

    li {
        margin-top: 10px;
        line-height: $paragraph-line-height;
    }

    ul,
    ol {
        margin-top: 0;
    }
}

ul {

    li {
        list-style: disc;
    }

    ul {

        li {
            list-style: circle;
        }
    }
}

ol {

    li {
        list-style: decimal;
    }
}


// hr
hr {
    height: 1px;
    margin: $hr-margin 0;
    border: none;
    background-color: $border-color;
}


// Blockquote
blockquote {
    margin: $blockquote-margin 0;
    font-size: $blockquote-size;
    line-height: $blockquote-line-height;
    text-align: center;
    font-style: italic;
}


// Tables
table {
    width: 100%;
    margin: $blockquote-margin 0;
    border-collapse: collapse;
}

table, td, th {
    // border: 1px solid $border-color;
    text-align: left;
}

th {
    font-weight: $font-weight-bold;
}

th, td {
    padding: $table-padding;
}


// Figure
figure {
    margin: $blockquote-margin 0;

    img {
        margin: 0;
    }
}

figcaption {
    margin-top: 10px;
    font-size: $paragraph-margin * 0.8;
}


// Code
pre {
    display: block;
    margin: 0 0 40px 0;
    padding: 20px;
    background-color: lighten($border-color, 12%);
    border: 1px solid $border-color;
    overflow: auto;
    border-radius: 3px;

    code {
        position: static;
        padding: 0;
        border: none;
        line-height: 1.5em;
    }
}

code {
    position: relative;
    top: -0.2em;
    padding: 3px;
    font-family: Courier New, Courier, monospace;
    font-size: $paragraph-size / 1.2;
    line-height: 1em;
    pointer-events: none;
    border: 1px solid $border-color;
    border-radius: 3px;
}



// Misc Styles
em,
i,
.italic {
    font-style: italic;
}

strong,
b,
.bold {
    font-weight: $font-weight-bold;
}

img {
    display: block;
    max-width: 100%;
    margin: $blockquote-margin 0;
}
.fw-bold {
  font-weight: $font-weight-bold;
}
.fw-light {
  font-weight: $font-weight-light;
}
small {
  font-size: $paragraph-size * 0.66;
}
.text-error {
  color: $primary;
  background-color: $secondary;
  font-weight: normal;
}
