.m-auto {

}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: $margin;
}
.mb-2 {
  margin-bottom: $margin * 2;
}
.mb-3 {
  margin-bottom: $margin * 3;
}
.mb-4 {
  margin-bottom: $margin * 4;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: $margin;
}
.mt-2 {
  margin-top: $margin * 2;
}
.mt-3 {
  margin-top: $margin * 3;
}
.mt-4 {
  margin-top: $margin * 4;
}

.mx-small {
  margin-left: $margin/2;
  margin-right: $margin/2;
}
.mx-1 {
  margin-left: $margin;
  margin-right: $margin;
}
.mx-2 {
  margin-left: $margin * 2;
  margin-right: $margin * 2;
}
.mx-3 {
  margin-left: $margin * 3;
  margin-right: $margin * 3;
}
.mx-4 {
  margin-left: $margin * 4;
  margin-right: $margin * 4;
}

.ml-1 {
  margin-left: $margin;
}
.ml-2 {
  margin-left: $margin * 2;
}
.ml-3 {
  margin-left: $margin * 3;
}
.ml-4 {
  margin-left: $margin * 4;
}

.mr-1 {
  margin-right: $margin;
}
.mr-2 {
  margin-right: $margin * 2;
}
.mr-3 {
  margin-right: $margin * 3;
}
.mr-4 {
  margin-right: $margin * 4;
}


.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-1 {
  padding-left: $padding;
  padding-right: $padding;
}
.px-2 {
  padding-left: $padding * 2;
  padding-right: $padding * 2;
}
.px-3 {
  padding-left: $padding * 3;
  padding-right: $padding * 3;
}
.px-4 {
  padding-left: $padding * 4;
  padding-right: $padding * 4;
}


.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.py-1 {
  padding-top: $padding;
  padding-bottom: $padding;
}
.py-2 {
  padding-top: $padding * 2;
  padding-bottom: $padding * 2;
}
.py-3 {
  padding-top: $padding * 3;
  padding-bottom: $padding * 3;
}
.py-4 {
  padding-top: $padding * 4;
  padding-bottom: $padding * 4;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.pt-0 {
  padding-top: 0 !important;
}
.pt-1 {
  padding-top: $padding;
}
.pt-2 {
  padding-top: $padding * 2;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pb-1 {
  padding-bottom: $padding;
}
.pb-2 {
  padding-bottom: $padding * 2;
}
.p-0 {
  padding: 0 !important;
}
.p-1 {
  padding: $padding;
}
.p-2 {
  padding: $padding * 2;
}

.border-top {
  border-top: 1px solid $primary;
}
.border--dashed {
  border-style: dashed !important;
}
.border {
  border: 1px solid $primary;
}

.ta-right {
  text-align: right !important;
}
.ta-center {
  text-align: center !important;
}
.ta-left {
  text-align: left !important;
}

.fw-light {
  font-weight: $font-weight-light !important;
}
.fw-normal {
  font-weight: normal !important;
}
.fw-bold {
  font-weight: bold !important;
}

.o-50 {
  opacity: 50%;
}
.rotate-180 {
  transform: rotate(180deg);
}

.hide-on-mobile {
  @include mq('>=square') {
    display: none;
  }
}
.hide-on-desktop {
  @include mq('<square') {
    display: none !important;
  }
}

[class~="ta-center:mobile"] {
    @include mq('>=square') {
      text-align: center;
    }
}

.fz-small {
  font-size: $paragraph-size * 0.66;
}
.fz-normal {
  font-size: $paragraph-size;
}
.fz-medium {
  font-size: $h4-size;
}
.fz-large {
  font-size: $h1-size;
}

.primary {
  color: $primary;
}
.primary-50 {
  color: rgba($primary, .5);
}

.text-underline {
  text-decoration: underline !important;
}

.flex-grow-1 {
  flex-grow: 1;
}

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
