@import 'variables';
@import 'fonts';
@import 'reset';
@import 'typography';
@import 'utils';
@import 'layout';
@import 'modal';
@import 'loader';
@import "simptip/simptip.scss";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: $background;
    color: $primary;

    html:not(.is-embed) & {
      padding: 0 $body-padding;
      @include mq('>square and width<large') {
        padding: 0 $body-small-padding;
      }
    }
    // padding-bottom: $body-small-padding;


}

html {
  height: 100%;
}
body {
  height: 100%;
}

html, body, #app, .app-container, .home {
  // display: flex;
  // flex-grow: 1;
  // flex-direction: column;
}
#app {

  min-height: -moz-available;          /* WebKit-based browsers will ignore this. */
  min-height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  min-height: fill-available;

  display: flex;
  flex-direction: column;
  will-change: contents;


}
body {
  overflow-x: hidden;
}


.app-container {
  html:not(.is-embed) & {
    max-width: $max-width;
  }
  html.is-embed & {
    height: 100vh;
  }
  margin: 0 auto;
  width: 100%;

}
.blur {
  filter: blur(.5em);
}
[data-tooltip] {

  //  border-bottom: 1px dashed $primary;
  // text-decoration: underline;

}
.mapboxgl-ctrl-logo {
  display: none !important;
}


.login-view {
  background-color: #fff;
  padding: $body-padding;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 640px;
  width: 100%;
  text-align: center;

  margin: auto;
}
