<template>
  <div id="app">
    <notifications position="top center" />

    <TheHeader v-if="getRoute.meta.header" />

    <div class="app-container" :class="{'my-auto': !getRoute.meta.header}">
      <!-- <keep-alive> -->
      <router-view />
      <!-- </keep-alive> -->
    </div>
    <transition v-if="isLexiconVisible" name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container" v-click-outside="hideLexicon">
            <button @click="hideLexicon()" class="modal-close btn btn--icon">
              <Icon name="close" />
            </button>
            <Lexicon />
          </div>
        </div></div
    ></transition>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";
import TheHeader from "./components/TheHeader.vue";
import Lexicon from "./components/Lexicon.vue";
import Icon from "./components/Icon.vue";
import { useGlobal } from "@front/store";
import { useUser } from "@front/store/user";

export default defineComponent({
  components: {
    TheHeader,
    Lexicon,
    Icon,
  },

  mounted() {
    const { setNotificationInstance } = useGlobal();
    setNotificationInstance(this.$notify);
  },
  setup() {
    return {
      ...useGlobal(),
      ...useUser()
    };
  },
});
</script>

<style lang="scss">
@import "@front/scss/styles.scss";
</style>
