<template>
  <div
    :class="{
      search: true,
      'search--button': withButton,
      'search--standalone': standalone,
    }"
  >
    <autocomplete
      class="search__input"
      auto-select
      :placeholder="searchPlaceholder"
      :value="getSearchInput"
      :debounceTime="50"
      :search="handleSearchInput"
      @input="handleInput"
      @submit="handleSubmit"
      ref="autocompleteRef"
    >
      <template #result="{ result, props }">
        <li v-bind="props" :is-disabled="result.isDisabled">
          <div
            v-html="getHighlightedMarkup(result.value, getSearchInput)"
          ></div>
        </li>
      </template>
    </autocomplete>
    <button
      :disabled="!getSearchResults || getSearchInput.length === 0"
      @click.prevent="handleBtnClick"
      v-if="withButton"
      class="search__button btn btn--primary"
    >
      Rechercher
    </button>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref, watch } from '@vue/composition-api';
import Autocomplete from '@trevoreyre/autocomplete-vue';

import EventBus from './eventBus';

import { useSearch } from './index';
import { setSearchSelectedIndex } from './methods';
import { getSearchResults } from './getters';

export default defineComponent({
  components: {
    Autocomplete,
  },
  props: {
    standalone: {
      type: Boolean,
    },
    withButton: {
      type: Boolean,
    },
  },
  setup(props, { emit }) {
    const {
      onSearchInputUpdate,
      onSearchInputSubmit,
      handleSearchInput,
      setSearchResults,
      getSearchResults,
      getSearchSelectedIndex,
    } = useSearch();

    const autocompleteRef = ref(null);

    onMounted(() => {
      const watchResults = watch(
        () => autocompleteRef.value.results,
        (results, oldResults) => {
          if (results.length > 0) {
            setSearchResults(results);
          }
        }
      );
      const watchSelectedIndex = watch(
        () => autocompleteRef.value.selectedIndex,
        (selectedIndex, oldSelectedIndex) => {
          if (selectedIndex !== -1) {
            setSearchSelectedIndex(selectedIndex);
          }
        }
      );
    });

    const handleSubmit = function ($event) {
      onSearchInputSubmit($event, props.standalone);
      EventBus.$emit('search-submit-event', $event);
    };

    const handleInput = function ($event) {
      onSearchInputUpdate($event);
      EventBus.$emit('search-input-event', $event);
    };

    const handleBtnClick = async function ($event) {
      const results = getSearchResults.value;
      const index = getSearchSelectedIndex.value;
      if (results) {
        const selectedResult = results[index];

        autocompleteRef.value.$emit('update');

        autocompleteRef.value.$emit('submit', selectedResult);
      }
    };

    return {
      handleBtnClick,
      autocompleteRef,
      handleSubmit,
      handleInput,
      ...useSearch(),
    };
  },
});
</script>

<style lang="scss" scoped>
.search {
  z-index: 100;
}
.search::v-deep {
  @import './search';
}
</style>
