<template>
  <table class="buildings-table">
    <tr v-bind="{[`data-index-bati`]: building.index}" :class="{'block-table-row--highlighted': getActiveBuildingFeatureId === building.id }" :id="`building-${building.id}`" :key="building + '-' + index" v-for="(building, index) in getUserLandUnitBuildings" class="block-table-row block-table-row--small">
            <td class="block-key ta-right flex-grow-1">
              <SvgGeometry class="svg-icon" v-if="building.geometry" :id="'building-' + building.index" :geometry="building.geometry" />
              <button class="btn btn--link py-0 btn--underline" @click="activeMapBuilding(building.id)">Bâti {{building.index}}</button>


              </td>
            <td class="block-value p-0">

              <table class="block-table-as-row four-cols-row">
                <tr>
                  <td>

                    <table class="block-table">
                      <tr v-bind="{[`data-emprise-bati-${building.index}`]: formatAsSquareMeters(building.surface, false)}">
                        <td class="fw-bold">Emprise</td>
                        <td>{{formatAsSquareMeters(building.surface)}}</td>
                      </tr>
                    </table>

                  </td>

                  <td>

                    <table>
                      <tr v-bind="{[`data-hauteur-mediane-bati-${building.index}`]: formatAsMeters(building.height_med, false)}">
                        <td class="fw-bold">H med.</td>
                        <td>{{formatAsMeters(building.height_med)}}</td>
                      </tr>
                    </table>

                  </td>

                  <td>

                    <table>
                      <tr v-bind="{[`data-hauteur-minimum-bati-${building.index}`]: formatAsMeters(building.height_min, false)}">
                        <td class="fw-bold">H min.</td>
                        <td>{{formatAsMeters(building.height_min)}}</td>
                      </tr>
                    </table>

                  </td>

                  <td>

                    <table>
                      <tr v-bind="{[`data-hauteur-maximum-bati-${building.index}`]: formatAsMeters(building.height_max, false)}">
                        <td class="fw-bold">H max.</td>
                        <td>{{formatAsMeters(building.height_max)}}</td>
                      </tr>
                    </table>

                  </td>

                </tr>
              </table>

            </td>
          </tr>
  </table>
</template>



<script lang="ts">
import { defineComponent, onMounted } from "@vue/composition-api";
import SvgGeometry from "../SvgGeometry.vue";
import Block from "../Block.vue";
import Icon from "../Icon.vue";
import { useUtils, useCheckout } from "@front/store";
import { useUser } from "@front/store/user";
import { updateRouteLocation } from "@front/router";
import { scrollToElement } from "@iudo/shared/utils";
import { temporaryHighlightUserBuilding } from "@front/store/map/layers/buildings";
import { getBuildingsState, mapFitToUserLandUnit, setBuildingsState } from "@front/store/map";



export default defineComponent({

  components: {
    Block,
    Icon,
    SvgGeometry
  },
  setup() {
    onMounted(() => {
      // if (getRouteStep.value === ScrollIds.POTENTIAL) {
      // scrollToElement(`#${ScrollIds.POTENTIAL}`, {
      //   block: "start",
      // });
      // }
    });

    const activeMapBuilding = (id: any) => {
      if (getBuildingsState() === false) {
        setBuildingsState(true)
      }
      temporaryHighlightUserBuilding(id);
      mapFitToUserLandUnit()
      scrollToElement('#the-map', {block: "start"});
    }

    return {
      ...useUser(),
      ...useUtils(),
      ...useCheckout(),
      updateRouteLocation,
      activeMapBuilding
    };
  },
});
</script>

<style lang="scss">
@import "../../scss/block";
</style>
