<template>
  <div v-if="hasUserLandUnit" class="x-wrapper mb-4">


    <div class="blocks blocks--no-padding blocks--special blocks--focus">
      <div class="block">
        <div class="block-title">Caractéristiques</div>

        <table class="block-table">
          <tr v-bind="{[`data-surface-unite-fonciere`]: formatAsSquareMeters(getUserLandUnitSurface, false)}">
            <td class="block-key">Surface unité foncière</td>
            <td class="block-value ta-center">
              {{formatAsSquareMeters(getUserLandUnitSurface)}}
            </td>
          </tr>
          <tr v-bind="{[`data-surface-batie-au-sol`]: formatAsSquareMeters(getUserLandUnitBuildingSurface, false)}">
            <td class="block-key">Surface bâtie au sol</td>
            <td class="block-value ta-center">
              {{formatAsSquareMeters(getUserLandUnitBuildingSurface)}}
            </td>
          </tr>
          <tr>
            <td class="block-key">Emprise au sol</td>
            <td class="block-value p-0">

              <table class="block-table-as-row  two-cols-row">
                <tr>

                  <!-- TABLE 1 -->
                  <td>

                    <table class="block-table">
                      <tr v-bind="{[`data-emprise-au-sol-actuelle`]: formatAsPercent(getUserLandUnitBuildingFootprint, false)}">
                        <td class="fw-bold">actuelle</td>
                        <td>{{formatAsPercent(getUserLandUnitBuildingFootprint)}}</td>
                      </tr>
                    </table>

                  </td>

                  <!-- TABLE 2 -->
                  <td>
                    <table>
                      <tr v-bind="{[`data-emprise-au-sol-reglement`]: getUserLandUnit.footprint_rules.length ? getUserLandUnit.footprint_rules[0].label : ''}">
                        <td class="fw-bold">règlement</td>
                        <td>{{getUserLandUnit.footprint_rules.length ? getUserLandUnit.footprint_rules[0].label : ''}}</td>
                      </tr>
                    </table>
                  </td>

                </tr>
              </table>
            </td>

          </tr>

          <tr>
            <td class="block-key">Hauteur médiane</td>
            <td class="block-value p-0">

              <table class="block-table-as-row two-cols-row">
                <tr>
                  <td>

                    <table class="block-table">
                      <tr v-bind="{[`data-hauteur-mediane-actuelle`]: formatAsMeters(getUserLandUnitBuildingExtent.height_med, false)}">
                        <td class="fw-bold">actuelle</td>
                        <td>{{formatAsMeters(getUserLandUnitBuildingExtent.height_med)}}</td>
                      </tr>
                    </table>

                  </td>

                  <td>

                    <table>
                      <tr v-bind="{[`data-hauteur-mediane-reglement`]: getUserLandUnit.height_rules.length ? getUserLandUnit.height_rules[0].label : ''}">
                        <td class="fw-bold">règlement</td>
                        <td>{{getUserLandUnit.height_rules.length ? getUserLandUnit.height_rules[0].label : ''}}</td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

            </td>
          </tr>

          <tr v-if="getUserLandUnitBuildings.length">

            <td colspan="2" class="ta-center">
              <button @click="setShowBuildingsDetails(!getShowBuildingsDetails)" class="btn btn--link fw-normal text-underline">détails <Icon small="true" :class="{ 'rotate-180': true }"
            name="arrow"
          /></button>
            </td>

          </tr>


          <tr v-show="getShowBuildingsDetails">
            <td class="buildings-table-container" colspan="2">
            <BuildingsCharacteristics />
            </td>
          </tr>

        </table>
      </div>

      <Block :title="'Localisation'" :items="getSpecialUserLocalisationBlock" />

    </div>



<div class="block-title">Risques</div>

    <div class="blocks blocks--no-padding mt-0 blocks--focus">


      <Block class="block--condensed" :items="getRisksBlock" />

      <div class="block">

        <div class="border p-2 ta-center">
          <button @click="showLexicon()" class="btn btn--link"> Lexique et améliorations -></button>

        </div>

      </div>

    </div>



  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted } from "@vue/composition-api";
import SvgGeometry from "../SvgGeometry.vue";
import BuildingsCharacteristics from "./BuildingsCharacteristics.vue";
import Block from "../Block.vue";
import Icon from "../Icon.vue";
import { useUtils, useCheckout, useGlobal } from "@front/store";
import { useUser } from "@front/store/user";
import { updateRouteLocation } from "@front/router";

export default defineComponent({
  components: {
    Block,
    Icon,
    SvgGeometry,
    BuildingsCharacteristics
  },

  setup() {


    onMounted(() => {
      // if (getRouteStep.value === ScrollIds.POTENTIAL) {
      // scrollToElement(`#${ScrollIds.POTENTIAL}`, {
      //   block: "start",
      // });
      // }
    });

    return {
      ...useUser(),
      ...useUtils(),
      ...useCheckout(),
      ...useGlobal(),
      updateRouteLocation
    };
  },
});
</script>

<style lang="scss">
@import "../../scss/the-potential";
</style>
