<template>
  <div id="app-component">
    <Search :withButton="true" :standalone="true" />
  </div>
</template>

<script lang="ts">
import Search from '@iudo/shared/components/search/Search.vue';
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
  name: 'App',
  components: {
    Search,
  },
});
</script>

<style lang="scss">
</style>
